<sb-section title="'<?php echo addslashes($this->_("List of your invoices")); ?>'" button="button">
    <br />
    <div class="form-group">
        <label for="filter"><?php echo $this->_("Search"); ?></label>
        <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="<?php echo $this->_("Search"); ?>" />
    </div>
    <br />
    <table class="table">
        <col width="15%" />
        <col width="25%" />
        <col width="25%" />
        <col width="10%" />
        <col width="20%" />
        <col width="5%" />
        <thead>
            <tr>
                <th class="pointer" ng-click="order = 'number'; by = !by"><?php echo $this->_("Number"); ?></th>
                <th class="pointer" ng-click="order = 'app_name'; by = !by"><?php echo $this->_("App Name"); ?></th>
                <th class="pointer" ng-click="order = 'user_name'; by = !by"><?php echo $this->_("Client"); ?></th>
                <th class="pointer" ng-click="order = 'total'; by = !by"><?php echo $this->_("Total"); ?></th>
                <th class="pointer" ng-click="order = 'paid_at'; by = !by"><?php echo $this->_("Paid At"); ?></th>
                <th><?php echo $this->_("Actions"); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr class="slide-left" ng-repeat="invoice in invoices | filter:filter | orderBy:order:by">
                <td>{{ invoice.number }}</td>
                <td>{{ invoice.app_name }}</td>
                <td>{{ invoice.user_name }}</td>
                <td>{{ invoice.total }}</td>
                <td>{{ invoice.paid_at }}</td>
                <td>
                    <a href="<?php echo $this->getUrl("sales/backoffice_invoice_view"); ?>/invoice_id/{{ invoice.id }}" title="<?php echo $this->_("View"); ?>"><i class="fa fa-eye"></i></a>
<!--                    <a href="#" ng-click="deleteUser(admin)" title="--><?php //echo $this->_("Delete"); ?><!--"><i class="fa fa-remove"></i></a>-->
                </td>
            </tr>
            <tr ng-show="!invoices.length">
                <td colspan="5" class="a-center"><?php echo $this->_("You don't have any invoices yet"); ?></td>
            </tr>
        </tbody>
    </table>
</sb-section>