<sb-section title="section_title">

    <div class="area">
        <div>
            <div class="col-md-6">
                <p><h4>{{ my_info.name }}</h4></p>
                <p ng-bind-html="my_info.address"></p>
                <p>{{ my_info.country }}</p>
            </div>
            <div class="col-md-6 text-right">
                <p><h4>{{ invoice.admin_name }}</h4></p>
                <p ng-bind-html="invoice.admin_address"></p>
                <p ng-if="invoice.admin_address2">{{ invoice.admin_address2 }}</p>
                <p ng-if=" invoice.admin_zip_code || invoice.admin_city || invoice.admin_region">
                    <span ng-if="invoice.admin_zip_code">{{ invoice.admin_zip_code }},</span>
                    <span ng-if="invoice.admin_city">{{ invoice.admin_city }},</span>
                    {{ invoice.admin_region }}
                </p>
                <p>{{ invoice.admin_country }}</p>
                <p>{{ invoice.admin_vat_number }}</p>
            </div>
            <div class="clear"></div>
        </div>

        <br />
        <div class="">
            <p>
                <span><strong><?php echo $this->_("Invoice N°")?></strong> {{ invoice.number }} </span><br/>
                <span><strong><?php echo $this->_("Created at:")?></strong> {{ invoice.formatted_created_at }} </span><br/>
                <span><strong><?php echo $this->_("Paid at:")?></strong> {{ invoice.formatted_created_at }} </span><br/>
                <span><strong><?php echo $this->_("Payment Method:")?></strong> {{ invoice.payment_method }} </span>
            </p>
        </div>
        <br />
        <div class="">
            <div>
                <table class="table" width="100%">
                    <col width="60%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <tr>
                        <th class="bold"><?php echo $this->_("Name")?></th>
                        <th class="text-right bold"><?php echo $this->_("Price Excl. Tax")?></th>
                        <th class="text-center bold"><?php echo $this->_("Qty")?></th>
                        <th class="text-right bold"><?php echo $this->_("Total Excl. Tax")?></th>
                    </tr>
                    <tr ng-repeat="line in invoice.lines">
                        <td>{{ line.name }}</td>
                        <td align="right">{{ line.formatted_price_excl_tax }}</td>
                        <td align="center">{{ line.qty }}</td>
                        <td align="right">{{ line.formatted_total_price_excl_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <th colspan="2" class="bold"><?php echo $this->_("Total")?></th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><?php echo $this->_("Total Excl. Tax")?></td>
                        <td align="right">{{ invoice.formatted_subtotal_excl_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><?php echo $this->_("Taxes")?> ({{ invoice.tax_rate }})</td>
                        <td align="right">{{ invoice.formatted_total_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><strong><?php echo $this->_("Total")?></strong></td>
                        <td align="right"><strong>{{ invoice.formatted_total }}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</sb-section>