<div id="no_item" class="a-center relative no_item">
    <?php echo $this->_('<span>Click on</span><button class="default_button add" type="button"><i class="icon-plus"></i></button> <span>to add an item.</span>'); ?>
    <img src="<?php echo $this->getColorizedImage($this->getImage('customization/features/no_item.png', true), $this->getBlock("area")->getColor()); ?>" class="arrow" data-color="color" data-style="area" width="100" />
    <div class="clear"></div>
    <style>
        .no_item img.arrow, .no_item canvas {position:absolute;top:0;right:47px;}
    </style>
</div>