<?php $errors = $this->getErrors(); ?>
<div class="steps_content relative">
    <div class="step step1">
        <?php echo $this->getLayout()->addPartial('welcome', 'core_view_default', 'installer/installation/index/welcome.phtml')->setErrors($errors)->toHtml(); ?>
    </div>
    <?php if(empty($errors["permissions"]) AND empty($errors["extensions"])) : ?>
    <div class="step step2">
        <?php echo $this->getLayout()->addPartial('license', 'core_view_default', 'installer/installation/index/license.phtml')->toHtml(); ?>
    </div>
    <div class="step step3">
        <?php echo $this->getLayout()->addPartial('database', 'core_view_default', 'installer/installation/index/database.phtml')->toHtml(); ?>
    </div>
    <div class="step step4">
        <?php echo $this->getLayout()->addPartial('installation', 'core_view_default', 'installer/installation/index/installation.phtml')->toHtml(); ?>
    </div>
    <div class="step step5">
        <?php echo $this->getLayout()->addPartial('user', 'core_view_default', 'installer/installation/index/user.phtml')->toHtml(); ?>
    </div>
    <div class="step step6">
        <?php echo $this->getLayout()->addPartial('confirmation', 'core_view_default', 'installer/installation/index/confirmation.phtml')->toHtml(); ?>
    </div>
    <?php endif; ?>
</div>