<?php $editor = $this->getSession()->getAdmin()->getWhiteLabelEditor(); ?>
<?php $cnameIsValid = $editor->cnameIsValid(); ?>
<div id="applications_list" class="application applications_list content">

    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-cog"></i>
            <h2 class="left f-rounded"><?php echo $this->_('White Label Editor Settings'); ?></h2>
            <div class="clear"></div>
            <hr />
        </div>
        <div class="area">
            <h3 class="title">
                <span class="area left"><?php echo $this->_('Settings'); ?></span>
                <span class="area right">
                    <div class="toggle" data-tip="1" data-tip-left="50">
                        <label class="toggle-radio" for="use_backoffice2"><?php echo $this->_("On"); ?></label>
                        <input type="radio" name="is_active" class="use_backoffice" id="use_backoffice1" value="1" <?php if($editor->isActive()) echo 'checked="checked"'; ?>>
                        <label class="toggle-radio" for="use_backoffice1"><?php echo $this->_("Off"); ?></label>
                        <input type="radio" name="is_active" class="use_backoffice" id="use_backoffice2" value="0" <?php if(!$editor->isActive()) echo 'checked="checked"'; ?>>
                    </div>
                </span>
                <div class="clear"></div>
            </h3>
            <div class="content_area">

                <form id="editorHostForm" name="editorHostForm" action="<?php echo $this->getUrl("whitelabel/editor/save"); ?>" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label data-tip="3" data-tip-right="180" for="host"><?php echo $this->_('Custom domain name:'); ?></label>
                            <input type="text" id="host" name="host" class="form-control backoffice_datas" value="<?php echo $editor->getHost(); ?>"<?php if(!$editor->isActive()): ?> disabled="disabled"<?php endif; ?> />
                        </div>
                    </div>

                    <?php if(!$cnameIsValid) : ?>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span id="error_domain" class="error delete no-border no-background"><?php echo $this->_('The CNAME for the URL "%s" is not properly set', $editor->getUrl()); ?></span>
                        </div>
                    </div>
                    <?php endif; ?>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button id="save_host" class="default_button btn save<?php if(!$editor->isActive()): ?> disabled<?php endif; ?> ">
                                <?php echo $this->_("Save"); ?>
                            </button>
                            <img src="<?php echo $this->getImage('customization/ajax/spinner.gif'); ?>" id="loader_domain" alt="Loading" title="Loading" width="24" style="display:none;" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".toggle").each(function(index, toggle) {
        toggleHandler(toggle);
    });

    var default_host = "<?php echo $editor->getHost(); ?>";

    $("#editorHostForm").submit(function() {
        if($(this).valid()) {
            reload(this, this.action, true, function(data) {

                var host = default_host;
                if(data.success) {
                    host = data.host;
                }
                $("#host").val(host);
            }, function() {
                if(!default_host.isEmpty()) {
                    $("#host").val(default_host);
                }
            });
        }
        return false;
    });

    $('.use_backoffice').change(function() {
        reload(this.parentNode, '<?php echo $this->getUrl('whitelabel/editor/save'); ?>', true, function(data) {
            if(data.is_active) {
                $("#host").prop("disabled", false);
                $('#save_host').removeClass("disabled");
                $("#host").focus();
                $("#host").select();
                $('#toggle_customization_sidebar').addClass("visible");
            }
            else {
                $("#host").prop("disabled", true);
                $('#save_host').addClass("disabled");
                $('#toggle_customization_sidebar').removeClass("visible");
            }
        });
    });

</script>
