<?php $editor = $this->getAdmin()->getWhiteLabelEditor(); ?>
<?php $blocks = $editor->getBlocks(); ?>

<div id="customization_sidebar">
    <button type="button" id="toggle_customization_sidebar" onclick="wl_editor.toggle();" class="area reverse<?php if($editor->isActive()) : ?> visible<?php endif; ?>">
        <i class="icon-desktop"></i>
        <span><?php echo $this->_('Customize My Editor'); ?></span>
    </button>
    <div class="customization general">
        <div class="right icons">
            <button type="button" class="default_button reverse" onclick="wl_editor.close();">
                <i class="icon-remove"></i>
            </button>
        </div>
        <br class="clear" />
        <div class="blocks">
            <div class="area color">
                <ul class="block">
                    <li>
                        <h3 class="title">
                            <span class="left area"><?php echo $this->_('Logo'); ?></span>
                            <hr class="area reverse">
                            <div class="clear"></div>
                        </h3>
                    </li>
                    <li>
                        <img src="<?php echo $editor->getLogoUrl(); ?>" id="sidebar_logo_cont" alt="" class="block" />
                        <br />
                        <!--[if gte IE 10]><!-->
                        <button type="button" rel="logo" class="upload_sidebar default_button btn-block">
                            <?php echo $this->_('Send your logo'); ?>
                        </button>
                        <!--<![endif]-->
                    </li>
                </ul>
            </div>
            <div class="area color">
                <ul class="block">
                    <li>
                        <h3 class="title">
                            <span class="left area"><?php echo $this->_('Favicon'); ?></span>
                            <hr class="area reverse">
                            <div class="clear"></div>
                        </h3>
                    </li>
                    <li>
                        <img src="<?php echo $editor->getFaviconUrl(); ?>" id="sidebar_favicon_cont" alt="" class="block" />
                        <br />
                        <!--[if gte IE 10]><!-->
                        <button type="button" rel="favicon" class="upload_sidebar default_button btn-block">
                            <?php echo $this->_('Send your favicon'); ?>
                        </button>
                        <!--<![endif]-->
                    </li>
                </ul>
            </div>
            <?php foreach($blocks as $block) : ?>
            <div id="colors_<?php echo $block->getId(); ?>" class="area color" rel="<?php echo $block->getCode(); ?>">
                <ul class="block">
                    <li>
                        <h3 class="title">
                            <span class="left area"><?php echo $block->getName(); ?></span>
                            <hr class="area reverse">
                            <div class="clear"></div>
                        </h3>
                    </li>

                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Background Color'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_background_color_wlp" class="right" style="background-color: <?php echo $block->getBackgroundColor(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_background_color_receiver_wlp" name="background_color" value="<?php echo $block->getBackgroundColor() ?>" />
                        </div>
                    </li>

                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Text Color'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_color_wlp" class="right" style="background-color: <?php echo $block->getColor(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_color_receiver_wlp" name="color" value="<?php echo $block->getColor() ?>" />
                        </div>
                    </li>

                    <?php if($block->getUseColorOnHover()) : ?>
                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Background Color - Hover'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_background_color_on_hover" class="right" style="background-color: <?php echo $block->getBackgroundColorOnHover(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_background_color_on_hover_receiver" name="background_color_on_hover" value="<?php echo $block->getBackgroundColorOnHover() ?>" />
                        </div>
                    </li>

                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Text Color - Hover'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_color_on_hover" class="right" style="background-color: <?php echo $block->getColorOnHover(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_color_on_hover_receiver" name="color_on_hover" value="<?php echo $block->getColorOnHover() ?>" />
                        </div>
                    </li>
                    <?php endif; ?>

                    <?php if($block->getUseColorOnActive()) : ?>
                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Background Color - Active'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_background_color_on_active" class="right" style="background-color: <?php echo $block->getBackgroundColorOnActive(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_background_color_on_active_receiver" name="background_color_on_active" value="<?php echo $block->getBackgroundColorOnActive() ?>" />
                        </div>
                    </li>

                    <li>
                        <div class="square_color">
                            <div class="square_label"><?php echo $this->_('Text Color - Active'); ?></div>
                            <button type="button" id="<?php echo $block->getCode() ?>_color_on_active" class="right" style="background-color: <?php echo $block->getColorOnActive(); ?>"></button>
                            <input type="hidden" id="<?php echo $block->getCode(); ?>_color_on_active_receiver" name="color_on_active" value="<?php echo $block->getColorOnActive() ?>" />
                        </div>
                    </li>
                    <?php endif; ?>
                </ul>
                <input type="hidden" name="block_id" value="<?php echo $block->getId(); ?>" />
            </div>
            <?php endforeach ?>
        </div>
    </div>

    <script type="text/javascript">
        var sidebar_uploader = new Uploader();
        var wl_editor = {
            alert: new AlertMessage(),
            default_style: new Array(),
            custom_style: new Array(),
            sidebar: $('#customization_sidebar'),
            is_open: false,
            open: function() {

                if(this.custom_style.length == 0) {

                    if(!$('#customization_mask').attr('id')) $('<div />').attr('id', 'customization_mask').appendTo($('.wrapper'));
                    else $('#customization_mask').show();

                    this.alert.setMessage('<?php echo $this->_('Loading your white label editor.'); ?>');
                    this.alert.isError(0);
                    this.alert.addButton();
                    this.alert.show();
                    var form = $('<form />').attr('action', '<?php echo $this->getUrl('whitelabel/customization/getstyle'); ?>').appendTo($('body'));
                    $('<input />').attr('type', 'hidden').attr('name', 'white_label_editor_id').attr('value', '<?php echo $editor->getId() ?>').appendTo(form);

                    reload(form, form.attr('action'), false, function(datas) {
                        if(datas.success) {
                            this.custom_style = datas.style;
                            this.open();
                        }
                    }.bind(this));
                    form.remove();
                    return;
                }

                this.is_open = true;
                $('<style>* { transition: all 0.5s ease 0s; }</style>').attr('id', 'transition_all').appendTo($('head'));
                var cpt = 0;

                for(var id in this.custom_style) {
                    if(id) {
                        setTimeout(setCustomStyle.bind(id), ++cpt * 200);
                    }
                }

                if(this.custom_style.logo) {
                    $('#logo').fadeOut(300, function() {
                        $(this).attr('src', wl_editor.custom_style.logo).fadeIn();
                    });
                }

                if(this.custom_style.favicon) {
                    $('#favicon').attr('href', this.custom_style.favicon);
                }

                $('.wl_panel').stop().fadeOut();
                $('#toggle_customization_sidebar').animate({right:0}, 300, null, function() {
                    this.sidebar.stop().animate({left:0}, 300, null, function() {
                        $(this).addClass('open');
                        if($(window).width() < 1800) {
                            $('div.wrapper').animate({marginLeft:'300px'});
                        }
                    });
                }.bind(this));

                var url = '<?php echo $this->getUrl('template/crop/upload'); ?>';
                if($('.uploadlogo').length < 1) {
                  if(!$('button.upload_sidebar').is(':visible')) {
                        $('#sidebar_logo_cont').after('<input rel="logo" class="uploadlogo" type="file" name="files[]" data-url="'+url+'">');
                        $('#sidebar_favicon_cont').after('<input rel="favicon" class="uploadlogo" type="file" name="files[]" data-url="'+url+'">');
                    } else {
                        $('body').append('<input style="display:none;" class="uploadlogo" type="file" name="files[]" data-url="'+url+'">');
                    }

                    $('.upload_sidebar').click(function(){
                        $('.uploadlogo').attr('rel', $(this).attr('rel'));
                        $('.uploadlogo').trigger('click');
                        return false;
                    });

                    $('.uploadlogo').fileupload({
                        dataType: 'json',
                        add: function (e, data) {
                            data.formData = {
                                type: $(this).attr('rel'),
                            },
                            data.submit();
                            sidebar_uploader.showProgressbar();
                        },
                        progressall: function (e, data) {
                            sidebar_uploader.moveProgressbar(data);
                        },
                        done: function (e, data) {
                            if(data.result.error) {
                                sidebar_uploader.showError(data.result.message);
                                loader.hide();
                            } else {
                                sidebar_uploader.hide();
                                var params = new Array();
                                params["url"] = '<?php echo $this->getUrl('template/crop/crop'); ?>';
                                params["file"] = data.result.files;
                                var type = $(this).attr('rel');
                                if(type == 'logo') {
                                    params["output_w"] = 225;
                                    params["output_h"] = 48;
                                } else {
                                    params["output_w"] = 16;
                                    params["output_h"] = 16;
                                }
                                params["output_url"] = '<?php echo str_replace('/', '$', $this->getUrl('whitelabel/customization/savelogo')) ?>$type$'+type;
                                params["uploader"] = 'sidebar_uploader';
                                sidebar_uploader.crop(params);
                                sidebar_uploader.callback = function(file) {
                                    $('#sidebar_'+type+'_cont').attr('src', file);
                                    if(type == 'logo') {
                                        $('#logo').fadeOut(300, function() {
                                            $(this).attr('src', file).fadeIn();
                                        });
                                    }
                                }
                            }
                        }
                    });
                }

            },
            close: function() {

                if(this.default_style.length == 0) {

                    var form = $('<form />').attr("action", "<?php echo $this->getUrl('whitelabel/customization/getstyle'); ?>").appendTo($("body"));
                    $('<input />').attr("type", "hidden").attr("name", "white_label_editor_id").attr("value", "0").appendTo(form);
                    reload(form, form.attr('action'), false, function(datas) {
                        if(datas.success) {
                            this.default_style = datas.style;
                            this.close();
                        }
                    }.bind(this));
                    form.remove();
                    return;
                }

                this.is_open = false;
                $('<style>* { transition: all 0.5s ease 0s; }</style>').attr('id', 'transition_all').appendTo($('head'));
                var cpt = 0;

                for(var id in this.default_style) {
                    setTimeout(setDefaultStyle.bind(id), ++cpt*200);
                }

                if(this.default_style.logo) {
                    $('#logo').fadeOut(300, function() {
                        $(this).attr('src', wl_editor.default_style.logo).fadeIn();
                    });
                }

                if(this.default_style.favicon) {
                    $('#favicon').attr('href', this.default_style.favicon);
                }

                this.custom_style = new Array();

                $('.uploadlogo').remove();
                $('.upload_sidebar').unbind('click');

                $('#customization_mask').hide();


                var confirmation_message = new AlertMessage();
                <?php if($host = $this->getAdmin()->getWhiteLabelEditor()->getHost()) : ?>
                <?php $message = $this->_('Your customization has been applied to %s.', $host); ?>
                <?php else : ?>
                <?php $message = $this->_('Your customization has been applied to your white label panel.'); ?>
                <?php endif; ?>
                confirmation_message.setMessage('<?php echo $message; ?>');
                confirmation_message.isError(0);
                confirmation_message.addButton();
                confirmation_message.show();
            },
            toggle: function() {
                if(this.is_open) this.close();
                else this.open();
            },

            setColor: function(to, color, type) {

                var html = '';
                var style = '.'+to;
                var reverse = style+' .reverse, '+style+'.reverse';
                var eventStyle;
                var important = ';';

                if(type == 'active') eventStyle = style+' .active, '+style+'.active, '+style+':active';
                else if(type == 'hover') eventStyle = style+' .hover, '+style+'.hover, '+style+':hover';

                if(!/(general)/.test(to)) {
                    important = ' !important;';
                }

                if(eventStyle) {
                    html = eventStyle + '{color: '+color+' '+important+'}';
                }
                else {
                    html = style+' {color: '+color+' '+important+'}';
                    html += '.'+to+' .input, .'+to+'.input {background-color: '+color+' '+important+' border-color: '+color+' '+important+'}';
                    html += '.'+to+' .input:focus, '+to+' .input.focus, .'+to+'.input:focus, .'+to+'.input.focus {color: '+color+' '+important+' border-color: '+color+' '+important+'}';
                    html += reverse+' {background-color: '+color+' '+important+'}';
                }

                var code = 'color';
                if(type == 'active') {
                    code += '_on_active';
                }
                else if(type == 'hover') {
                    code += '_on_hover';
                }

                var before = $('#'+to+'_custom_style').html().split('/*'+to+'_'+code+'*/')[0];
                var after = $('#'+to+'_custom_style').html().split('/*/'+to+'_'+code+'*/')[1];
                var new_html = '';

                if(before) new_html += before;
                new_html += '/*'+to+'_'+code+'*/'+html+'/*/'+to+'_'+code+'*/';
                if(after) new_html += after;

                $('#'+to+'_custom_style').replaceWith($('<style>'+new_html+'</style>').attr('id', to+'_custom_style'));

                this.custom_style[to][code] = color.replace('#', '');

                this.setCanvasColor(to, this.custom_style[to]);

                return;


            },
            setBackgroundColor: function(to, color, type) {
                var html = '';
                var style = '.'+to;
                var reverse = style+' .reverse, '+style+'.reverse';
                var eventStyle;
                var important = ';';

                if(type == 'active') eventStyle = style+' .active, '+style+'.active, '+style+':active';
                else if(type == 'hover') eventStyle = style+' .hover, '+style+'.hover, '+style+':hover';

                if(!/(general)/.test(to)) {
                    important = ' !important;';
                }

                if(eventStyle) {
                    html = eventStyle + '{background-color: '+color+' '+important+'}';
                }
                else {
                    html = style+' {background-color: '+color+' '+important+'}';
                    html += style+'.active:after {border-left-color: '+color+' '+important+'}';
                    html += style+' .input, '+style+'.input {color: '+color+' '+important+'}';
                    html += style+' .input:focus, '+style+' .input.focus, '+style+'.input:focus, '+style+'.input.focus {background-color: '+color+' '+important+'}';
                    html += reverse+' {color: '+color+' '+important+'}';
                }

                html += style + ' .no-background, '+style + '.no-background {background-color: transparent '+important+'}';


                var code = 'background_color';
                if(type == 'active') {
                    code += '_on_active';
                }
                else if(type == 'hover') {
                    code += '_on_hover';
                }

                var before = $('#'+to+'_custom_style').html().split('/*'+to+'_'+code+'*/')[0];
                var after = $('#'+to+'_custom_style').html().split('/*/'+to+'_'+code+'*/')[1];
                var new_html = '';

                if(before) new_html += before;
                new_html += '/*'+to+'_'+code+'*/'+html+'/*/'+to+'_'+code+'*/';
                if(after) new_html += after;

                $('#'+to+'_custom_style').replaceWith($('<style>'+new_html+'</style>').attr('id', to+'_custom_style'));

                this.custom_style[to][code] = color.replace('#', '');

                return;

            },
            setBackgroundImageColor: function(current_id, style) {

                var dummy = '<?php echo $this->getUrl('template/block/colorize', array('path' => 'img_url', 'color' => 'color_id')); ?>';
                if($('[data-style="'+current_id+'"]').length > 0) {
                    $('[data-style="'+current_id+'"]').each(function(idx, element) {

                        if(element.nodeName != 'IMG' /*|| (ie && ie < 9)*/) {
                            var color = $(element).attr('data-color');
                            console.log("color: ", color);
                            if(!color) color = 'background_color';

                            console.log("style[color]: ", style);
                            if(style[color]) {

                                var img_url = $(element).data("img_url");
                                if(!img_url) {
                                    img_url = $(element).css("background-image").replace("url(", "").replace(")", "");
                                    $(element).data("img_url", img_url);
                                }

                                img_url = btoa(img_url);

                                var url = dummy.replace('img_url', img_url).replace('color_id', style[color]);
                                console.log("background image url: ", url);
                                $(element).css('background-image', 'url('+url+')');
                            }
                        }
                    }.bind(this));
                }
            },
            setCanvasColor: function(current_id, style) {

//                if(ie && ie < 9) return;

                if($('[data-style="'+current_id+'"]').length > 0) {
                    $('[data-style="'+current_id+'"]').each(function(idx, element) {
                        if(element.nodeName == 'IMG') {
                            var color = $(element).attr('data-color');
                            if(!color) color = 'background_color';
                            if(style[color]) {
                                var rgb = style[color].hexToRgb();
                                var newcanvas = $(element).colorize(rgb, true);
                                if(newcanvas) {
                                    $(element).parent().find('canvas').remove();
                                    $(newcanvas).addClass(element.className).insertBefore($(element));
                                    $(element).hide();
                                }
                            }
                        }
                    }.bind(this));
                }
            },
            saveColors: function(element) {
                reload(element, '<?php echo $this->getUrl('whitelabel/customization/savecolors'); ?>', false);
            }
        }

        <?php foreach($blocks as $block) : ?>

            <?php $target = $block->getCode(); ?>
            $('#<?php echo $target ?>_color_wlp').ColorPicker({
                color: '<?php echo $block->getColor() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.setBackgroundImageColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style['<?php echo $block->getCode(); ?>']);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_color_receiver_wlp').val(hex);
                    $('#<?php echo $target ?>_color_wlp').css('background-color', hex);
                    wl_editor.setColor('<?php echo $block->getCode(); ?>', hex);
//                    wl_editor.setCanvasColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style);
                }
            });

            $('#<?php echo $target ?>_background_color_wlp').ColorPicker({
                color: '<?php echo $block->getBackgroundColor() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.setBackgroundImageColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style['<?php echo $block->getCode(); ?>']);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_background_color_receiver_wlp').val(hex);
                    $('#<?php echo $target ?>_background_color_wlp').css('background-color', hex);
                    wl_editor.setBackgroundColor('<?php echo $block->getCode(); ?>', hex);
                }
            });

            <?php if($block->getUseColorOnHover()) : ?>
            $('#<?php echo $target ?>_color_on_hover').ColorPicker({
                color: '<?php echo $block->getColorOnHover() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_color_on_hover_receiver').val(hex);
                    $('#<?php echo $target ?>_color_on_hover').css('background-color', hex);
                    wl_editor.setColor('<?php echo $block->getCode(); ?>', hex, 'hover');
//                    wl_editor.setCanvasColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style);
                }
            });

            $('#<?php echo $target ?>_background_color_on_hover').ColorPicker({
                color: '<?php echo $block->getBackgroundColorOnHover() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_background_color_on_hover_receiver').val(hex);
                    $('#<?php echo $target ?>_background_color_on_hover').css('background-color', hex);
                    wl_editor.setBackgroundColor('<?php echo $block->getCode(); ?>', hex, 'hover');
                }
            });
            <?php endif; ?>

            <?php if($block->getUseColorOnActive()) : ?>
            $('#<?php echo $target ?>_color_on_active').ColorPicker({
                color: '<?php echo $block->getColorOnActive() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.setBackgroundImageColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style['<?php echo $block->getCode(); ?>']);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_color_on_active_receiver').val(hex);
                    $('#<?php echo $target ?>_color_on_active').css('background-color', hex);
                    wl_editor.setColor('<?php echo $block->getCode(); ?>', hex, 'active');
//                    wl_editor.setCanvasColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style);
                }
            });

            $('#<?php echo $target ?>_background_color_on_active').ColorPicker({
                color: '<?php echo $block->getBackgroundColorOnActive() ?>',
                onShow: function (colpkr) {
                    $(colpkr).slideDown(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).slideUp(500);
                    wl_editor.setBackgroundImageColor('<?php echo $block->getCode(); ?>', wl_editor.custom_style['<?php echo $block->getCode(); ?>']);
                    wl_editor.saveColors($('#colors_<?php echo $block->getId(); ?>'));
                    return false;
                },
                onSubmit: function(hsb, hex, rgb, el) {
                    $('.colorpicker').slideUp(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    hex = '#'+hex;
                    $('#<?php echo $target ?>_background_color_on_active_receiver').val(hex);
                    $('#<?php echo $target ?>_background_color_on_active').css('background-color', hex);
                    wl_editor.setBackgroundColor('<?php echo $block->getCode(); ?>', hex, 'active');
                }
            });
            <?php endif; ?>

        <?php endforeach; ?>

        $('.area.color').hover(function() {
            var code = $(this).attr('rel');
            $('.wrapper').find('.'+code).css('box-shadow', '0 0 10px red');
        }, function() {
            var code = $(this).attr('rel');
            $('.wrapper').find('.'+code).css('box-shadow', "");
        });

//        $('#toggle_customization_sidebar').click(function() {
//            wl_editor.toggle();
//        });

        function setCustomStyle() {

            current_id = this;

            if(!wl_editor.custom_style[current_id]) return;

            $('style.'+current_id).remove();
            $('style#'+current_id+'_default_style').remove();
            $('head').append(wl_editor.custom_style[current_id].html);
            console.log(current_id);
            wl_editor.setBackgroundImageColor(current_id, wl_editor.custom_style[current_id]);
            wl_editor.setCanvasColor(current_id, wl_editor.custom_style[current_id]);
            if(current_id == 'delete') {
                wl_editor.alert.hide();
                $('style#transition_all').remove();
            }
        }

        function setDefaultStyle(current_id) {
            current_id = this.toString();
            $('style.'+current_id).remove();
            $('style#'+current_id+'_custom_style').remove();
            $('head').append(wl_editor.default_style[current_id].html);
            wl_editor.setBackgroundImageColor(current_id, wl_editor.default_style[current_id]);
            wl_editor.setCanvasColor(current_id, wl_editor.default_style[current_id]);
            if(current_id == 'delete') {
//                wl_editor.alert.hide();
                $('style#transition_all').remove();
                $('.wl_panel').fadeIn();
                wl_editor.sidebar.animate({left:wl_editor.sidebar.outerWidth(true)*-1}, 300, null, function() {
                    $(this).removeClass('open');
                    $('#toggle_customization_sidebar').animate({right:-103});
                    if($('div.wrapper').css('margin-left') == '300px') {
                        $('div.wrapper').animate({marginLeft:'0px'});
                    }
                });
            }
        }


    </script>
    <style>
        #customization_sidebar button.default_button { padding-top: 0; }
    </style>
</div>
