<?php $admin = $this->getSession()->getAdmin(); ?>
<?php $invoice = new Sales_Model_Invoice(); ?>
<?php $invoices = $invoice->findAll(array('admin_id' => $admin->getId()), 'created_at DESC'); ?>
<div class="application">
    <div class="application_content inner_content">
        <div class="title">
            <i class="left icon-file-alt"></i>
            <h2 class="left f-rounded"><?php echo $this->_('My Invoices'); ?></h2>
            <div class="clear"></div>
            <hr class="reverse">
        </div>
        <div class="area">
            <table class="table">
                <col width="20%" />
                <col width="70%" />
                <col width="5%" />
                <col width="5%" />
                <thead>
                    <tr>
                        <th><?php echo $this->_('Date'); ?></th>
                        <th><?php echo $this->_('Application'); ?></th>
                        <th><?php echo $this->_('Total'); ?></th>
                        <th><?php echo $this->_('Action'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($invoices as $invoice) : ?>
                        <tr>
                            <td><?php echo $invoice->getFormattedCreatedAt(); ?></td>
                            <td><?php echo $invoice->getAppName(); ?></td>
                            <td><?php echo $invoice->getFormattedTotal(); ?></td>
                            <td class="text-center">
                                <a href="<?php echo $this->getUrl('sales/admin_invoice/view', array('id' => $invoice->getId())); ?>"  title="<?php echo $this->_('View') ?>" ><i class="icon-eye-open"></i></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>