<?php $order = $this->getTmpOrder(); ?>

<div class="list_header">
    <h3 class="title">
        <span class="area"><?php echo $this->_("Order's details"); ?></span>
        <hr />
        <div class="clear"></div>
    </h3>
</div>
<div class="application_content">
    <table class="no-collapse full_width" width="87%">
        <?php foreach($order->getLines() as $line) : ?>
        <tr>
            <td><span class="bold"><?php echo $line->getQty() ?>x</span> <?php echo $line->getName(); ?></td>
            <td align="right"><strong><?php echo $line->getFormattedTotalPriceExclTax(); ?></strong></td>
        </tr>
        <?php endforeach; ?>
    </table>
</div>
<div class="list_header">
    <h3 class="title">
        <span class="area"><?php echo $this->_('Total'); ?></span>
        <hr />
        <div class="clear"></div>
    </h3>
</div>
<div class="application_content">
    <table class="no-collapse full_width" width="87%">
        <tr>
            <td><?php echo $this->_('Subtotal'); ?></td>
            <td align="right"><strong><?php echo $order->getFormattedTotalExclTax(); ?></strong></td>
        </tr>
        <?php if(count($order->getTaxes())): ?>
        <tr>
            <td colspan="2">
                <?php echo $this->_('Tax'); ?>
            </td>
        </tr>
        <?php foreach($order->getTaxes() as $tax): ?>
        <tr>
            <td class="td_indent">
                <?php echo $tax->getName(); ?> (<?php echo $tax->getRate(); ?> %)
            </td>
            <td align="right">
                <?php echo $order->formatPrice($order->getTotalExclTax() * ($tax->getRate()/100)); ?>
            </td>
        </tr>
        <?php endforeach; ?>
        <tr>
            <td class="td_indent"><?php echo $this->_("Total Tax"); ?></td>
            <td align="right"><strong><?php echo $order->getFormattedTotalTax(); ?></strong></td>
        </tr>
        <?php else: ?>
        <tr>
            <td>
                <?php echo $this->_('Tax'); ?>
            </td>
            <td align="right"><strong><?php echo $order->getFormattedTotalTax(); ?></strong></td>
        </tr>
        <?php endif; ?>
        <tr>
            <td><?php echo $this->_('Total'); ?></td>
            <td align="right"><strong><?php echo $order->getFormattedTotal(); ?></strong></td>
        </tr>
    </table>
</div>
