<sb-section title="'<?php echo addslashes($this->_("List of your taxes")); ?>'" button="button">
    <br />
    <div class="form-group">
        <label for="filter"><?php echo $this->_("Search"); ?></label>
        <input type="text" id="filter" class="form-control" ng-model="filter" placeholder="<?php echo $this->_("Search"); ?>" />
    </div>
    <div class="form-group text-right">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="save()" ng-show="taxes.length > 0"><?php echo $this->_("Save"); ?></button>
        </div>
    </div>
    <br />
    <table class="table">
        <col width="90%" />
        <col width="10%" />
        <thead>
            <tr>
                <th class="pointer" ng-click="order = 'country_name'; by = !by"><?php echo $this->_("Country"); ?></th>
                <th class="text-center"><?php echo $this->_("Actions"); ?></th>
            </tr>
        </thead>
        <tbody>
            <tr class="slide-left" ng-repeat="tax in taxes | filter:filter | orderBy:order:by" class="form-group">
                <td>
                    <select class="form-control" ng-model="tax.country_code" ng-options="k as v for (k, v) in tax.countries" ng-change="change(tax)">
                        <option value=""><?php echo $this->_("Select a country"); ?></option>
                    </select>
                    <table class="region_list table" ng-if="tax.country_code">
                        <col width="40%" />
                        <col width="20%" />
                        <col width="10%" />
                        <col width="10%" />
                        <thead>
                            <tr>
                                <th>
                                    <?php echo $this->_("Region"); ?>
                                    <a href="javascript:void(0)" title="<?php echo $this->_("Add a region"); ?>" ng-click="add_region(tax)" class="right"><i class="fa fa-plus"></i></a>
                                </th>
                                <th><?php echo $this->_("Tax name"); ?></th>
                                <th><?php echo $this->_("Rate"); ?></th>
                                <th class="text-center"><?php echo $this->_("Actions"); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="slide-left form-group" ng-repeat="rate in tax.rates | filter:filter | orderBy:order:by">
                                <td>
                                    <select class="form-control" ng-model="rate.region_code" ng-options="k as v for (k, v) in tax.regions" ng-change="change_region(tax)">
                                        <option value=""><?php echo $this->_("National"); ?></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="rate.name" placeholder="<?php echo $this->_("Tax name"); ?>" maxlength="20"/>
                                </td>
                                <td>
                                    <input type="number" class="form-control" ng-model="rate.rate" placeholder="<?php echo $this->_("Rate"); ?>" />
                                </td>
                                <td class="valign-middle text-center">
                                    <a href="javascript:void(0)" title="<?php echo $this->_("Remove"); ?>" ng-click="delete_region(tax,rate)"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="valign-top  text-center">
                    <a href="javascript:void(0)" title="<?php echo $this->_("Remove"); ?>" ng-click="delete(tax)" ng-show="!tax.loader_is_visible"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
            <tr ng-show="taxes.length <= 0">
                <td colspan="3" class="a-center"><?php echo $this->_("You don't have created any taxes yet"); ?></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group text-right">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="save()" ><?php echo $this->_("Save"); ?></button>
        </div>
    </div>
</sb-section>
